* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: #F7F8FA;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #1E3C57;
    /*background: linear-gradient(to right, #1E3C57, #6259C3);*/
    padding: 20px 0 30px;
    font-size: 10px;
    line-height: 20px;
}

.row {
    width: 55%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: #F7F8FA;
}

.col {
    flex-basis: 15%;
    padding: 10px;
    margin-left: 10px;
}