:root {
    --main-color: rgb(11, 156, 175);
    --secondary-color: #1E3C57;
    --light-color: #F7F8FA;
    --dark-color: #333333;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--secondary-color);
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 50px;
    margin: 1rem;
    color: var(--light-color);
}

p {
    font-size: 18px;
}

div.container {
    display: flex;
    justify-content: center;
}

form {
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 1rem;
    /* border-radius: 2%; */
    box-shadow: -2px 7px 10px rgb(0 0 0 / 20%);
}

div.row {
    display: flex;
    height: 100px;
    width: 37%;
}

/* .row {
    width: 37%:
} */

input,
textarea {
    display: flex;
    width: 205px;
    padding: 12px;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    font-size: 0.8rem;
    resize: none;
}


label {
    display: flex;
    align-items: center;
    color: var(--dark-color);
    padding: 0.5vw 0vw 0vw 0vw;
    width: 20rem;
    height: 15px;
}

input[type="submit"] {
    /* display: flex;
    align-items: center; */
    background-color: var(--main-color);
    color: white;
    width: 90px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        margin-top: 0;
    }
} */