*{
    list-style: none;
    text-decoration: none;
}



h1 {
    text-align: center;
    margin-top: 0;
}


ul nav {
    display: inline-block;
    border : 2px solid black;
  }
  

ul {
    display: flex;
    position: relative;
    align-items: left;
    justify-content: center;
    margin-left: 24%; 
    margin-right: 20%;
    border : 2px solid black;
    padding: 10px;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    padding: 30px 100px;
}

nav ul li a {
    text-decoration: none;
}