* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

.presentation {
    background:url("assets/us.png") no-repeat;
    width: 100%;
    height: 520px;
    
}

.test {
    color: black;
    width: 50%;
    padding-top: 170px;
    float: right;
}