
h1 {text-align: center;}


ul {display: inline-flex;
    list-style-type: none;
    flex-direction: row;
}

.img {
    
    border: 2px solid black ;
    margin-top: 50px ;
    
    padding : 2em;
    border : 0.2em solid #5FC2BA;
    width  : 10em;
    height : 10em;
    border-radius: 100%;

    background-image:URL(https://images.pexels.com/photos/1912176/pexels-photo-1912176.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-position: center;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover

}

.img .valerie {
    
    align-items: flex-start;
    display: flex;

}

.img1 {

    border: 2px solid black ;
    margin-top: 250px ;

    padding : 2em;
    border : 0.2em solid #5FC2BA;
    width  : 10em;
    height : 10em;
    border-radius: 100%;
    
    background-image:URL(https://images.pexels.com/photos/624033/pexels-photo-624033.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-position: center;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover
}


.img2 {

    border: 2px solid black ;
    margin-top: 50px ;
    
    padding : 2em;
    border : 0.2em solid #5FC2BA;
    width  : 10em;
    height : 10em;
    border-radius: 100%;
    
    background-image: URL(https://images.pexels.com/photos/62324/leopard-safari-wildier-botswana-62324.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-position: center;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover
}   

.img3 {

    border: 2px solid black ;
    margin-top: 250px ;
    
    padding : 2em;
    border : 0.2em solid #5FC2BA;
    width  : 10em;
    height : 10em;
    border-radius: 100%;

    background-image: URL(https://images.pexels.com/photos/951007/pexels-photo-951007.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-position: center;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover

}

.img4 {

    border: 2px solid black ;
    margin-top: 50px ;

    padding : 2em;
    border : 0.2em solid #5FC2BA;
    width  : 10em;
    height : 10em;
    border-radius: 100%;
    
    background-image:URL(https://images.pexels.com/photos/13832829/pexels-photo-13832829.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-position: center;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover
}



h2 {list-style-type: none;
    margin-left: 50px;
    display: flex;

}